{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <nav class="navbar navbar-expand-lg " id="header">
        <a class="navbar-brand" href="#" id="header">
            <img src="{% static "img/satellite.svg" %}" style="height: 30px; width: 30px;" id="connect" alt="">
            SMART BELT
        </a>
        <div class="navbar-right" href="#">

            <img class="navbar-brand" src="{% static "img/search.svg" %}" style="height: 30px; width: 30px;" alt="">

            <img class="navbar-brand" src="{% static "img/avatar.svg" %}" style="height: 29px; width: 30px;" alt="">
        </div>

        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button-->

    </nav>
    <ul class="nav nav-pills nav-justified" id="header">
        <li class="nav-item">
            <a class="nav-link active" href="#date-container" id="datetime" data-toggle="tab"
            >Date&Time</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#health-container" id="health" data-toggle="tab"
            >Health</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#help-container" id="help" data-toggle="tab">Help</a>
        </li>

    </ul>
    <div class="tab-content tab-container">
        <div class="container tab-pane " id="health-container" style="">
            <div class="row text-center">
                <div class="col align-self-start flex-column" id="white-container">
                    <img class="p-2 menu-image" id="body-data-button" src="{% static "img/body.svg" %}" alt="">
                    <div class="p-2">Body Data</div>
                </div>
                <div class="col align-self-end flex-column" id="black-container">
                    <img class="p-2 menu-image" id="exercise-data-button" src="{% static "img/foot.svg" %}" alt="">
                    <div class="p-2">Exercise Data</div>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col align-self-start flex-column" id="black-container">
                    <img class="p-2 menu-image" id="start-exercise-button" src="{% static "img/notification.svg" %}"
                         alt="">
                    <div class="p-2">Start Exercise</div>
                </div>
                <div class="col align-self-end flex-column" id="white-container">
                    <img class="p-2 menu-image" id="" src="{% static "img/measure.svg" %}" alt="">
                    <div class="p-2">Standard</div>
                </div>
            </div>
        </div>
        <div class="container tab-pane active" id="date-container" style="">
            <div class="row" style="display: flex; align-items: center; justify-content: center; font-size: 35px;">
                History Chart
                <br>
                <br>
            </div>
            <canvas id="chart">

            </canvas>
        </div>
        <div class="container tab-pane " id="help-container">nothing too</div>
    </div>
    <div class="fullscreen-container not-active" id="exercise-record">
        <nav class="navbar navbar-expand-lg" id="header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/arrow.svg' %}" id="back" style="height: 30px; width: 30px;" alt="">

            </a>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        Exercise Data
                    </li>
                </ul>
            </div>

            <div class="navbar-right" href="#">

                <img class="navbar-brand" src="{% static "img/search.svg" %}" style="height: 30px; width: 30px;" alt="">

                <img class="navbar-brand" src="{% static "img/avatar.svg" %}" style="height: 29px; width: 30px;" alt="">
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col"
                     style="height: 45vh; display: flex; justify-content: space-evenly; align-items: center;">
                    <div class="meter-container" id="meter">

                    </div>
                    <div id="meter-text">
                        10000<br>
                        steps
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="exercise-container-dark"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div style="position: absolute; top:5px; left: 5px">Step time</div>
                    <div id="step-time" style="font-size: 30px">45</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">min(s)</div>
                </div>
                <div class="col" id="exercise-container-light"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div style="position: absolute; top:5px; left: 5px">Step Distance</div>
                    <div id="step-distance" style="font-size: 30px">1.8</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">km(s)</div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="exercise-container-light"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div style="position: absolute; top:5px; left: 5px">Calories Burned</div>
                    <div id="step-calories" style="font-size: 30px">400</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">kcal(s)</div>
                </div>
                <div class="col" id="exercise-container-dark"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div style="position: absolute; top:5px; left: 5px">Cumulative Days</div>
                    <div id="step-days" style="font-size: 30px">3</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">day(s)</div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="exercise-container-light"
                     style="height: 8vh; display: flex; justify-content: space-around; align-items: center">
                    <img src="{% static 'img/add.svg' %}" style="height: 30px; width: 30px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen-container not-active" id="start-exercise">
        <nav class="navbar navbar-expand-lg" id="header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/arrow.svg' %}" id="start-exercise-back" style="height: 30px; width: 30px;"
                     alt="">

            </a>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        Exercise Data
                    </li>
                </ul>
            </div>

            <div class="navbar-right" href="#">

                <img class="navbar-brand" src="{% static "img/search.svg" %}" style="height: 30px; width: 30px;" alt="">

                <img class="navbar-brand" src="{% static "img/avatar.svg" %}" style="height: 29px; width: 30px;" alt="">
            </div>
        </nav>
        <div class="container">
            <div class="row" id="exercise-status"
                 style="height: 30vh; display: flex; justify-content: center; align-items: center;font-size: 40px">


                <!--div class="col"
                     style="height: 45vh; display: flex; justify-content: space-evenly; align-items: center;">
                    <div class="meter-container col" id="current-exercise">
                        Speed correct
                    </div>
                    <div class="col" id="">
                        Current<br>
                        running
                    </div>
                </div-->
            </div>
            <div class="row" id="current-exercise"
                 style="display: flex; font-size: 20px;align-items: center; justify-content: center;">
                Current running
            </div>
            <div class="row" id="" style="font-size: 30px">
                <div class="col start-situp" id="exercise-container-light" style="display: none!important;">
                    Start situp
                </div>
                <div class="col start-squat" id="exercise-container-light" style="display: none!important;">
                    Start squat
                </div>
                <div class="col start-running" id="exercise-container-light"
                     style="justify-content: center; align-items: center; display: flex">
                    Start running
                </div>
                <div class="col not-active end-exercise" id="exercise-container-light"
                     style="display:flex;align-items: center; justify-content: center;">
                    End
                </div>
            </div>
            <div class="row">

                <div class="col" id="exercise-container-light"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div id="exercise-distance-text" style="position: absolute; top:5px; left: 5px">Running Distance
                    </div>
                    <div id="exercise-distance" style="font-size: 30px">0</div>
                    <div id="exercise-distance-unit" style="position: absolute; bottom: 5px;right: 5px;">km(s)</div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="exercise-container-light"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div id="calories-burned-text" style="position: absolute; top:5px; left: 5px">Calories Burned</div>
                    <div id="calories-burned" style="font-size: 30px">0</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">kcal(s)</div>
                </div>

            </div>
            <div class="row not-active">

                <div class="col" id="exercise-container-light"
                     style="display: flex; align-items: center; justify-content: space-around">
                    <div style="position: absolute; top:5px; left: 5px">Running time</div>
                    <div style="font-size: 30px">1:30:26</div>
                    <div style="position: absolute; bottom: 5px;right: 5px;">hr</div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="exercise-container-light"
                     style="height: 8vh; display: flex; justify-content: space-around; align-items: center">
                    <img src="{% static 'img/add.svg' %}" style="height: 30px; width: 30px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen-container not-active" id="body-data">
        <nav class="navbar navbar-expand-lg" id="header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/arrow.svg' %}" id="body-data-back" style="height: 30px; width: 30px;" alt="">

            </a>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        Body Data
                    </li>
                </ul>
            </div>

            <div class="navbar-right" href="#">

                <img class="navbar-brand" src="{% static "img/search.svg" %}" style="height: 30px; width: 30px;" alt="">

                <img class="navbar-brand" src="{% static "img/avatar.svg" %}" style="height: 29px; width: 30px;" alt="">
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col"
                     style="height: 10vh; display: flex; justify-content: space-evenly; align-items: center;">
                    <div id="meter-text">
                        Items
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-light">
                    <div style="font-size: 20px; margin: 20px">Tall</div>
                    <div style="font-size: 20px; margin: 20px">170 cm</div>
                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-dark"
                >
                    <div style="font-size: 20px; margin: 20px">Weight</div>
                    <div style="font-size: 20px; margin: 20px">60 kg</div>

                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-light"
                >
                    <div style="font-size: 20px; margin: 20px">BMI</div>
                    <div style="font-size: 20px; margin: 20px">20.76</div>
                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-dark"
                >
                    <div style="font-size: 20px; margin: 20px">Waistline</div>
                    <div style="font-size: 20px; margin: 20px">28 inches</div>

                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-light"
                >
                    <div style="font-size: 20px; margin: 20px">Hip</div>
                    <div style="font-size: 20px; margin: 20px">36.5 inches</div>

                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-dark"
                >
                    <div style="font-size: 20px; margin: 20px">HeartBeat</div>
                    <div style="font-size: 20px; margin: 20px">70 bpm</div>
                </div>

            </div>
            <div class="row">
                <div class="col body-data-container" id="exercise-container-light"
                     style="height: 7vh; display: flex; justify-content: space-around;">
                    <img src="{% static 'img/add.svg' %}" style="height: 30px; width: 30px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen-container not-active" id="falling">
        <nav class="navbar navbar-expand-lg" id="header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/arrow.svg' %}" id="body-data-back" style="height: 30px; width: 30px;" alt="">

            </a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col" style="height: 10vh; font-size: 35px; text-align: center; margin-top: 5vh">
                    Are you falling?
                </div>
            </div>
            <div class="row">
                <div class="col" id="count-down" style="height: 10vh; font-size: 30px; text-align: center">

                </div>
            </div>
            <div class="row">

                <div class="col"
                     style="height: 50vh; display: flex; justify-content: space-evenly; align-items: center;">
                    <img src="{% static 'img/falling-man.svg' %}" style="height: 20vh; width: auto;" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col fallOK" id="exercise-container-dark"
                     style="background:limegreen; justify-content: center; align-items: center; display: flex; font-size: 25px">
                    I'm OK.
                </div>
                <div class="col fallNotOK" id="exercise-container-dark"
                     style="background:firebrick; justify-content: center; align-items: center; display: flex; font-size: 25px; text-align: center">

                    Not OK 😢.

                </div>
            </div>

        </div>
    </div>
    <script>

    </script>
    <link rel="stylesheet" href="{% static "index.css" %}" crossorigin="anonymous">
    <script type="text/javascript" src="{% static "index.js" %}"></script>
    <script type="text/javascript" src="{% static "circular.js" %}"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
{% endblock %}
